.header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-align {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }

  &__logo {
    & h1 {
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      font-weight: 300;
    }
  }
}