/* html,
body {
  height: 100%;
}

body,
div,
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin-top: 30vh;
  color: rebeccapurple;
  font: bold 32px/1 sans-serif;
  text-align: center;
} */
